@model CapstoneProject_Ecommerce.Models.PRODOTTO

@{
    ViewBag.Title = "GuidaAlleTaglie";
}

    
<h2 style="color: #f90000b3">Guida alle taglie</h2>

<div class="container p-4" >
    <p>
        Questa pagina per darvi delle indicazioni generiche su come scegliete le taglie di abbigliamento, intimo e cappelli.
        <strong>Essendo un negozio multimarca, la vestibilità non è identica per ogni prodotto. Per qualunque richiesta sulla vestibilità di un capo specifico non esitate a scriverci a clienti@altramoda.net</strong>
    </p>
    <p><strong>Noi cerchiamo di aiutarvi dando delle indicazioni di massima</strong>, se il capo acquistato non vi andasse comunque bene, è possibile comunque fare un <a title="RESO MERCE" href="https://www.altramoda.net/it/page/resi-e-rimborsi" target="_blank">reso merce</a>.</p>
    <br />
    <br />
    <p>
        <br> <br> <span><strong>TAGLIE ABBIGLIAMENTO DONNA</strong><br></span> <strong>indichiamo la corrispondenza delle taglie internazionali con quelle italiane, e i centimetri corrispondenti di giro seno, giro vita e giro fianchi.</strong><br> <br> S = Taglia italiana 40/42<br> giro seno cm 85-90, giro vita cm 70-75, giro fianchi cm 92-97<br> <br> M = Taglia italiana 44<br> giro seno cm 90-95, giro vita cm 74-79, giro fianchi cm 97-100<br> <br> L = Taglia italiana 46/48<br> giro seno cm 95-100, giro vita cm 80-84, giro fianchi cm 101-107<br> <br>
        <strong> CORRISPONDENZA TAGLIE TEDESCHE CON TAGLIE ITALIANE:</strong><br> taglia tedesca 34/36 = Taglia italiana 38/40<br> taglia tedesca 38/40 = Taglia italiana 42/44<br> taglia tedesca 40/42 = Taglia italiana 46/48<br>
    </p>
    <p><span><strong>TAGLIE ABBIGLIAMENTO UOMO</strong><br></span> indichiamo la corrispondenza delle taglie internazionali con quelle italiane, e i centimetri corrispondenti di giro torace e giro vita.<br> <br> S = Taglia italiana 46<br> giro torace cm 80-88, giro vita cm 75-79<br> <br> M = Taglia italiana 48<br> giro torace cm 89-96, giro vita cm 80-84<br> <br> L = Taglia italiana 50<br> giro torace cm 97-104, giro vita cm 85-90<br> <br> CORRISPONDENZA TAGLIE TEDESCHE CON TAGLIE ITALIANE<br> taglia tedesca 46/48 = Taglia italiana 48/50<br> taglia tedesca 50/52 = Taglia italiana 52/54<br></p>
</div>