@model IEnumerable<CapstoneProject_Ecommerce.Models.PRODOTTO>

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{

    <div class="card fade-in-right" style="width: 18rem;">

        <img src="~/Content/img/@Html.DisplayFor(modelItem => item.Foto)" />
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.NomeProdotto)</h5>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelItem => item.Descrizione)</p>
        </div>

        <div class="card-text qta">
            <h5 class="card-title quantita"><input type="number" /></h5>
        </div>

        <div class="card-text">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Prezzo)</h5>



        </div>


        <div class="btn btn-primary" id="contBtn">
            <a href="#" data-id="@item.IdProdotto" class="OrdinaBtn">ORDINA</a>
        </div>
    </div>
}


