body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.fto {
    /*background-color: rgb(0 0 0 / 79%);*/
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #11171f;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border-radius: 329px 329px 70px 70px;*/
    /*background-color: rgb(0 0 0 / 76%);*/
    padding: 10px;
    background: #F2F2F2;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

a {
    text-decoration: none;
    margin: 10px;
    color: orangered;
}


.ctnBtn {
    /*    display: flex;
    justify-content: center;
    align-items: center;*/
    width: 100%;
    /*background-color: #f90000b3;*/
    /*background: currentColor;*/
}

#contBtn {
    background-color: #f90000b3;
    border-radius: 0px 0px 17px 17px;
}

.flexCard {
    margin-top: 20px;
    padding: 7px;
    /*background-color: #000000c9;*/
    /*margin-top: 20px;*/
    /*margin-bottom:20px;*/
       display: flex;
    border-radius: 10px;
    background: #F2F2F2;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}




.card {
    margin: 5px;
    /*padding: 2px;*/
    border-radius: 10px;
    border-radius: 132px 132px 21px 21px;
    box-shadow: 2px 2px 7px -1px black;
    border: none;
    background: #F2F2F2;
}

.card-text {
    text-align: center;
   
}

.card-body {
    text-align: center;
    background: #F2F2F2;
    padding:2px;
}

.ImgCard {
    border-radius: 133px 0px 0px 0px !important; 
}


.btn {
    border-radius: 0px;
    color:white;

}

.OrdinaBtn{
    color: white;
}

.ContFlex {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form-control {
    width: 143px;
    border-radius: 0px;
    /*line-height: 0;*/
    font-size: small;
    height: 30px !important;
}

.InpCard {
    width: 50px !important;
}

.GuidaTaglie {
    margin: 0 auto !important;
    color: orangered;
    font-size: small;
}

h2{
    text-align: center;
    margin-top: 20px;
}

.ContLoginP {
    display: flex;
    justify-content: center;
}

.ContLogin {
    margin: 0 auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    justify-content: center;
    margin-top: 50px;
    box-shadow: 2px 4px 6px -3px black;
    padding: 33px 0px 0px 0px;
    width: 400px;
    border-radius: 0px 0px 17px 17px;
}

.userName, .passWord {
    color: black;
    font-family: 'Roboto', sans-serif;
}

#ContAll {
    box-shadow: 2px 4px 6px -3px black;
    padding: 10px;
    margin-top: 30px;
    margin: 0 auto;
}

#ContEdit {
    box-shadow: 2px 4px 6px -3px black;
    border-radius: 0px 0px 17px 17px;
    padding: 33px 0px 0px 0px;
    margin-top: 30px;
    margin: 0 auto;
    width:500px;
}


.ContEditBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: space-around;
    margin-top: 40px;  
}

.ContEditBox2 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: space-around;
    margin-top: 40px;
}

ul{
    list-style:none;
}

.footer-bg {
    margin-top: 190px;
    background: #11171f;
    padding: 2rem 0;
    
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.copyright {
    background-color: #fff;
    color: #11171f;
    padding: 1rem 0;
    font-size: 0.875rem;
    text-align: right;
}