body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*background: #11171f;*/
    font-family: 'Roboto', sans-serif;
}

.fto {
    /*background-color: rgb(0 0 0 / 79%);*/
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #11171f;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*border-radius: 329px 329px 70px 70px;*/
    /*background-color: rgb(0 0 0 / 76%);*/
    /*padding: 10px;*/
    background: #11171f;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.white-text {
    color: white !important;
}


a {
    cursor:pointer;
    text-decoration: none;
    margin: 10px;
    color: orangered;
}


.ctnBtn {
    /*    display: flex;
    justify-content: center;
    align-items: center;*/
    width: 100%;
    /*background-color: #f90000b3;*/
    /*background: currentColor;*/
}

#contBtn {
    background-color: #f90000b3;
    border-radius: 0px 0px 15px 15px;
    width:100%;
}

.flexCard {
    /*margin-top: 20px;
    margin-bottom: 20px;*/
    padding: 30px;
    /*background-color: #000000c9;*/
    /*margin-top: 20px;*/
    /*margin-bottom:20px;*/
    display: flex;
    /*border-radius: 10px;*/
    background: #11171f;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#ContVid{
    margin-top:10px;
    margin-bottom:10px;
}


.card {
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    border-radius: 132px 132px 21px 21px;
    /*box-shadow: 2px 2px 7px -1px black;*/
    border: none;
    background: #11171f;
}

.card-text {
    color:white;
    text-align: center;
   
}

.card-body {
    text-align: center;
    background: #11171f;
    padding: 2px;
}

.ImgCard {
    /*border-radius: 102px 0px 0px 0px !important;*/ 
}


.btn {
    border-radius: 0px;
    color:white;

}

.OrdinaBtn{
    color: white;
}

.ContFlex {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form-control {
    width: 130px;
    border-radius: 0px;
    /*line-height: 0;*/
    font-size: small;
    height: 30px !important;
}

.InpCard {
    width: 57px !important;
}

.GuidaTaglie {
    margin: 0 auto !important;
    color: orangered;
    font-size: small;
}

h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom:30px;
}

.ContLoginP {
    display: flex;
    justify-content: center;
}

.ContLogin {
    margin: 0 auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    justify-content: center;
    margin-top: 50px;
    box-shadow: 2px 4px 6px -3px black;
    padding: 33px 0px 0px 0px;
    width: 400px;
    border-radius: 0px 0px 17px 17px;
}

#carouselExampleInterval {
    width: 100%;
}


.userName, .passWord {
    color: black;
    font-family: 'Roboto', sans-serif;
}

#ContAll {
    box-shadow: 2px 4px 6px -3px black;
    /*padding: 10px;*/
    margin-top: 30px;
    /*margin: 0 auto;*/
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 179px;
}

#ContEdit {
    box-shadow: 2px 4px 6px -3px black;
    border-radius: 0px 0px 17px 17px;
    padding: 33px 0px 0px 0px;
    margin-top: 30px;
    margin-bottom: 180px;
    /*margin: 0 auto;*/
    width: 500px;
}

.contVideo {
   
    background: black;
}

.ContEditBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: space-around;
    margin-top: 40px;  
}

.ContEditBox2 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: space-around;
    margin-top: 40px;
}



ul {
    list-style: none;
}

.footer-bg {
    /*margin-top: 300px;*/
    background: #11171f;
    padding: 2rem 55px;
    
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.copyright {
    background-color: #fff;
    color: #11171f;
    padding: 1rem 0;
    font-size: 0.875rem;
    text-align: right;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(0 * var(--bs-gutter-x));
    margin-left: calc(0 * var(--bs-gutter-x));
 
}

    .row > * {
        flex-shrink: 0;
        /*width: 100%;*/
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0);
        padding-left: calc(var(--bs-gutter-x) * 0);
        margin-top: var(--bs-gutter-y);
    }
/*ANIMAZIONE*/

.fade-in-right {
    opacity: 0;
    transform: translateZ();
    animation: fadeInRight 1s ease-in-out forwards;
}

.fade-in-right {
    opacity: 0;
    transform: translateY(-20px);
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 6;
        transform: translateY(0);
    }
}



