@model CapstoneProject_Ecommerce.Models.USER

@{
    ViewBag.Title = "ABoutMe";
}

<div class="d-flex justify-content-center mb-5">
    <div style=" margin-top: 30px; box-shadow: 2px 4px 6px -5px black; border-radius: 0px 0px 17px 0px; max-width:900px; padding:10px; ">
        <div class="row">
            <div class="col-6">
                <div class="container float-end mt-5" style="margin-right: 30px;">
                    <img src="~/Content/Img/PhotoRoom_20221202_215530.jpg" style="width:200px; float:right;" />
                </div>
            </div>

            <div class="col-6 mt-5">
                <h1 style="margin-left: 10px;">Nicola Lerra</h1>
                <p style="margin-left: 10px;"> Junior Full-Stack Developer</p>

                <div>
                    <h5 style="margin-left: 10px;">Technologies</h5>
                </div>

                <div class="d-flex flex-wrap justify-content-center ">
                    <img src="~/Content/Img/11.png" style="width: 30px; margin-left: 10px;"/>
                    <img src="~/Content/Img/12.png"style="width:30px;" />
                    <img src="~/Content/Img/13.png"style="width:30px;" />
                    <img src="~/Content/Img/4.png" style="width:30px;"/>
                    <img src="~/Content/Img/5.png"style="width:30px;" />
                    <img src="~/Content/Img/6.png"style="width:30px;" />
                    <img src="~/Content/Img/7.png"style="width:30px;" />
                    <img src="~/Content/Img/8.png"style="width: 35px; " />
                    <img src="~/Content/Img/9.png" style="width: 35px; "/>
                    <img src="~/Content/Img/10.png"style="width:50px; margin-top:5px;"/>
                </div>

            </div>
        </div>
    </div>
</div>



