@{
    ViewBag.Title = "Home Page";
}


   

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner d-flex">
                <div class="carousel-item active" data-bs-interval="2000">                   
                    <video controls autoplay muted>
                        <source src="~/Content/Img/SHOPbunn.mp4" type="video/mp4" class="d-block w-100" />
                    </video>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <video controls autoplay muted>
                        <source src="~/Content/Img/SHOP0.mp4" type="video/mp4" class="d-block w-100" />
                    </video>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <video controls autoplay muted>
                        <source src="~/Content/Img/SHOP7.mp4" type="video/mp4" class="d-block w-100" />
                    </video>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
     

