@{
    ViewBag.Title = "Home Page";
}

<div class="ctnBtn">
    <div>

        <a href="@Url.Action("Index", "PRODOTTO")">
            <img src="~/Content/Img/Prova_logo_nik.png" alt="Logo" width="60" />
        </a>

        @*<a class="navbar-brand" href="~/Views/PRODOTTO/Index.cshtml">
            <img src="~/Content/Img/Prova_logo_nik.png" alt="Logo" width="60" class="d-inline-block align-text-top" />
        </a>*@
    </div>
</div>